<!DOCTYPE html>
<html>
<head>
	<title>Example</title>
	<script type="text/javascript" src="./../_lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="./../_src/statable-repeat.js"></script>
	<script type="text/javascript">
		(function () {
			/**
			* statable.repeat.example Module
			*
			* Description
			*/
			var m = angular.module('statable.repeat.example', ['statable.repeat']);

			m.controller('exampleCtrl', ['$scope', '$http', function($scope, $http){
				// $scope.data = [{"wocao": "nima"}];
				$http.get('./../_data/sports.json').success(function (data) {
					data.events.sort(function () {
						return Math.random() - 0.5;
					});
					data.events.splice(10);
					$scope.data = data.events;
					console.log($scope.data[0]);
				}).error(function () {
					// console.error('laoding error');
				});

				$scope.pop = function () {
					// $scope.data.pop();
					// $scope.data = $scope.data.reverse();
					$scope.data.splice(0, 1);
					console.log($scope.data[0]);
				};
				$scope.delete = function () {
					$scope.data = undefined;
				};
				$scope.load = function () {
					$http.get('./../_data/sports.json').success(function (data) {
						data.events.sort(function () {
							return Math.random() - 0.5;
						});
						data.events.splice(10);
						$scope.data = data.events;
						console.log($scope.data[0]);
					}).error(function () {
						// console.error('laoding error');
					});
				};
				$scope.random = function () {
					$scope.data.sort(function () {
						return Math.random() - 0.5;
					});
					console.log($scope.data[0]);
				}
			}]);

			m.directive('exampleDirective', [function(){
				// Runs during compile
				return {
					// name: '',
					// priority: 1,
					// terminal: true,
					scope: {
						event: "="
					}, // {} = isolate, true = child, false/undefined = no change
					controller: function($scope, $element, $attrs, $transclude, $interval) {
						$scope.counter = 0;
						// $interval(function () {
						// 	$scope.counter+= Math.round(Math.random());
						// }, 1000);
					},
					// require: 'ngModel', // Array = multiple requires, ? = optional, ^ = check parent elements
					// restrict: 'A', // E = Element, A = Attribute, C = Class, M = Comment
					template: '<div>{{event.eventId}} {{counter}}</div>',
					// templateUrl: '',
					// replace: true,
					// transclude: true,
					// compile: function(tElement, tAttrs, function transclude(function(scope, cloneLinkingFn){ return function linking(scope, elm, attrs){}})),
					link: function($scope, iElm, iAttrs, controller) {
						// console.log('example directive loaded...');
					}
				};
			}]);
		})();
	</script>
</head>
<body ng-app='statable.repeat.example'>
	<div ng-controller="exampleCtrl">
		<button ng-click="pop()">pop</button>
		<button ng-click="delete()">delete</button>
		<button ng-click="load()">load</button>
		<button ng-click="random()">random</button>
		<!-- <div statable-repeat='data' track-by='eventId' each-as='event' example-directive event='event'> -->
		<!-- </div> -->
		<!-- <hr/> -->
		<!-- <div statable-repeat='data' track-by='eventId' each-as='event'> -->
			<!-- <div example-directive event='event'></div> -->
		<!-- </div> -->
		<!-- <hr/> -->
		<div statable-repeat='item in data trackBy eventId'>
			{{$index}} {{$first}} {{$last}} {{$middle}} {{$even}} {{$odd}}
			<div example-directive event='item'></div>
		</div>
		<!-- <div>{{data[0]}}</div> -->
		<div statable-repeat='(key, value) in data[0]'>{{key}}: {{$index}} {{$first}} {{$last}} {{$middle}} {{$even}} {{$odd}}</div>
	</div>
</body>
</html>